*{
	margin: 0;
	padding: 0;
}
#rectangle {
	width: 80px;
	height: 50px;
	background: #7B0F96;
	display: inline-block;
	position: absolute;
/*	transition:ease 1s ;*/
	top: 150px;
	left: 150px;
}
#container {
	width : 900px;
	height: 600px;
	border: 1px solid black;
	color:white;
}
#start {
	background: blue;
	border-radius: 50%;
	padding: 15px 32px;
	color:white;
}
#stop {
	background: red;
	border-radius: 50%;
	padding: 15px 32px;
	color:white;
}
#drag {
	background: purple;
	border-radius: 50%;
	padding: 15px 32px;
	color:white;
}
